 <h1>Результат</h1>

{{#if mresults.length}}
{{#each mresults}}

  <div class="collection">
        <a href="/result/{{id}}" class="collection-item">{{treename}}  </a>
      </div>

  {{/each}}
{{else}}
<p>Результат пока нет</p>
{{/if}}